.container-about {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.member {
  margin: 20px;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.container_a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #d5dad8;
  }
  
  .member {
    margin: 40px;
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
  }

.about-container {
  margin-top: 1rem;
}

.member img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: 100%;
}

.member:hover img {
  transform: scale(1.2);
}
